@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Librarian!</h1>
    <p></p>
    <a class="btn btn-info col-3" asp-controller="Books" asp-action="Index">Go to Books</a>
    <a class="btn btn-info col-3" asp-controller="Readers" asp-action="Index">Go to Readers</a>
</div>

